.dropDown{
	position: relative;
	display: inline-block;
}
.dropDown-Content{
	display:none;
	position: absolute;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  	z-index: 1;
}
.dropDown-Content ul{
	display: block;
}


.dropDown:hover .dropDown-Content{
	display: block;
}
a{
	text-decoration: none;
}